#head h1{
text-align:center;
font-size: 60px;
color: #411205;
}


#content {

    overflow: hidden;
}

strong
{
text-decoration: line-through;
font-weight: bold;
color: #411205;
}


#content {

    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    float: center;
    margin: 0 2%;
    width: 63%;

    overflow:scroll;
}
#content h3 {
    margin: 2%;
     background: #F3F3F3;
    
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}
#content ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}
#content  ul li {
    float:left;
    padding-bottom: 21px;
    width: 33%;
}
#content  ul li:hover {
    background-color: #fbfbfb;
}

#content  ul li .img {
    text-align: center;
}

#content  ul li .img img {
    height:128px;
    width:128px;
}

#content ul li .info {
    padding: 17px 20px 0 19px;
}

#content ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#content ul li .info .title:hover {
    color: #049733;
}
#content  ul li .info p {
    color: #7F7F7F;
    font-size: 11px;
    line-height: 16px;
    padding-top: 3px;
}
#content  ul li .info .price {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    margin: 17px 0 10px;
    padding: 6px 0 6px 8px;
}

#content  ul li .info .price .st {
    color: #fd7a01;
    font-size: 11px;
    line-height: 16px;
    margin-right: 3px;
}

#content  ul li .info .actions {
    overflow:hidden;
}
#content  ul li .info .actions a {
    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
#content  ul li .info .actions a:first-child {
    color: #009832;
    float:left;
}

ul
{
list-style-type: none;
}

.checkbox {
        display: inline-block;
        cursor: pointer;
        font-size: 13px; margin-right:10px; line-height:18px;
    }
    input[type=checkbox] {
        display:none; 
    }

    .checkbox:before {
        content: "";
        display: inline-block;
        width: 18px;
        height: 18px;
        vertical-align:middle;
        background-color: #0088cc;
        color: #f3f3f3;
        text-align: center;
        box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8); 
        border-radius: 3px;
    }
    input[type=checkbox]:checked + .checkbox:before {

        content: "\2713";
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
        font-size: 15px;
    }
