body {
    background: url('../images/body_bg.png');
    overflow: scroll;
}

#header{
 font-weight: bold;
 text-align:center;
 font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #411205;
  width:100%;


}

.actions {
    overflow:hidden;
}
.actions a {
    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    color: #fd7a01;
    display: block;
    float:right;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    padding: 5px;
    text-decoration: none;
}
.actions a:first-child {
    color: #009832;
    float:left;
}


#content {
    padding:5px;
    text-align: center;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    
    
}   




#container #center {

      background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    margin: 0 2%;
    width: 20%;
    overflow:scroll;
    margin-left: auto;
    margin-right:auto;
    
}


#container #left {

    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    margin: 0 2%;
    width: 20%;
    float:left;
    overflow:scroll;
}

#container #right {

    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    margin: 0 2%;
    width: 20%;
    float:right;
    overflow:scroll;
}


#container  h3 {
    margin: 2%;
     background: #F3F3F3;
    
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}
#container ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}

#container  ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#container  ul li:hover {
    background-color: #fbfbfb;
}
#container  ul li:first-child {
    border-width: none;
}

#container  ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}

#container  ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}

#container  ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#container ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#container ul li .info .title:hover {
    color: #049733;
}


#container  ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}


#container  ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}



.new {
  
  
  width: 106px;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
 
  border-radius: 30px;
  font: normal normal bold 12px/normal "Battambang", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  float: right;
  text-transform: uppercase;
  text-align:right;

  background: #FF9933;
 
}

.new:hover {
  background: #CC7A29;
}