body {
	background: url('../images/body_bg.png');
    overflow: scroll;
}

#header{
   display: block;
   font-size: 20px;
  color: #411205;

  font-weight: bold;
}


.buttons {
  display: inline-block;
margin-top: 1%;
margin-bottom:1%;
  height: 30px;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  padding: 10px 20px;
  border: 0 none rgb(177,106,2);
  border-bottom: 4px solid rgb(177,106,2);
 
  border-radius: 7px 7px 9px 9px;
  font: normal normal bold 24px/40px "Averia Sans Libre", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;
 
  white-space: nowrap;
 background: url('../images/gradient.png');
 
  box-shadow: 0 -1px 1px 0 rgba(255,255,255,0.701961) inset, 0 1px 1px 0 rgb(177,106,2) ;
  text-shadow: 0 1px 1px rgba(0,0,0,0.498039) ;
}

.buttons:hover {
  background: rgb(225, 157, 60);
 
}

.buttons:active {
  height: 30px;
  margin: 4px 0 0;
  border: none;
  
  border-radius: 7px;
 
}

#container #right {

    background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    float: right;
    margin: 0 2%;
    width: 63%;
    overflow:scroll;
    margin-left: 0;
    width: 30%;
}

#container #left, #content #right {
      background: #F3F3F3;
    border: 1px solid #FFF;
    box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),  0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;  
    float: left;
    margin: 0 2%;
    width: 63%;
}
#container  h3 {
    margin: 2%;
     background: #F3F3F3;
    
    color: #3C3C3C;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    padding: 11px 0 12px 20px;
    text-transform: uppercase;
}
#container ul {
    list-style:none outside none;
    margin:0;
    padding:0;
}

#container #right ul li {
    border-top: 1px solid #E7E7E7;
    overflow: hidden;
}
#container #right ul li:hover {
    background-color: #fbfbfb;
}
#container #right ul li:first-child {
    border-width: none;
}

#container #right ul li .img {
    background-color: #FFFFFF;
    float: left;
    height: 94px;
    text-align: center;
    width: 113px;
}

#container #right ul li .img img {
    height:70px;
    margin-top: 11px;
    width:70px;
}

#container #right ul li .info {
    float: left;
    overflow: hidden;
    padding: 17px 0 0 21px;
    width: 164px;
}
#container ul li .info .title {
    color: #4B4B4B;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
}
#container ul li .info .title:hover {
    color: #049733;
}


#container #right ul li .info .price {
    color: #383838;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    padding-top: 25px;
}

#content #right ul li .info .price .special {
    color: #7F7F7F;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    padding-right: 6px;
    text-decoration: line-through;
}
#container #right ul li .info .price .special {
    color: #FD7A01;
    font-weight: bold;
    text-decoration: none;
}



