body {
  background: url('../images/body_bg.png');
}


.button {
  display: inline-block;
   position: relative;
  cursor: pointer;
  padding: 0 20px 0 73px;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;

  background: rgb(105,192,223);
 
  box-shadow: 0 5px 0 0 rgb(87,151,180) ;
  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
 
}

.button:hover {
  background: rgba(78,182,216,1);
 
  box-shadow: 0 5px 0 0 rgba(78,136,160,1) ;
 
}

.button:active {
  top: 2px;
  background: rgb(105,192,223)  ;
  
  box-shadow: 0 3px 0 0 rgba(78,136,160,1) ;
 
}

.button::before {
  display: inline-block;
 
  width: 50px;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);
 
  background: url("http://enjoycss.com/bg-img/custom/21875-1huuuuw.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
 
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;

}

.buttonf {
  display: inline-block;
  
  position: relative;
  cursor: pointer;
  padding: 0 20px 0 73px;
  border: none;
  font: normal 20px/2.4 "Open Sans", Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  text-transform: capitalize;
  
  background: rgba(100,138,214,1);
 
  box-shadow: 0 5px 0 0 rgba(88,116,173,1) ;
  text-shadow: 0 1px 1px rgba(87,151,180,0.36) ;
 
}

.buttonf:hover {
  background: rgba(91,125,193,1);
 
  box-shadow: 0 5px 0 0 rgba(80,105,155,1) ;
 
}

.buttonf:active {
  top: 2px;
  box-shadow: 0 3px 0 0 rgba(80,105,155,1) ;
}

.buttonf::before {
  display: inline-block;
  width: 50px;
  height: 100%;
  position: absolute;
  content: "";
  cursor: pointer;
  top: 0;
  left: 0;
  border: 0 solid #018dc4;
  border-right: 1px solid rgba(255,255,255,0.2);
  font: normal medium/normal Arial, Helvetica, sans-serif;
  color: rgba(0,0,0,0.9);

  background: url("http://enjoycss.com/bg-img/custom/21875-v2clm0.png"), rgba(0,0,0,0.05);
  background-repeat: no-repeat;
  background-position: 50% 50%;
 
  background-size: 30px auto;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
 
}


/* Basic Grey */
.basic-grey {
    margin-left:auto;
    margin-right:auto;
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
    border-radius: 5px;
}
.basic-grey h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #888;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #888;
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    border-radius: 5px;
    
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
   
    text-indent: 0.01px;
   
    width: 70%;
    height: 35px;
    line-height: 25px;
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: #8AB8E6;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: #4C6680
}
footer{
  margin:1%;
}

.new {
  
  
  width: 106px;
  cursor: pointer;
  padding: 5px 18px;
  border: none;
 
  border-radius: 30px;
  font: normal normal bold 15px/normal "Battambang", Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  text-transform: uppercase;

  background: #6688FF;
 
}

.new:hover {
  background: #293D66
}